#root {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    input {
        flex: 1 100%;
        padding: 15px;
        border: thin solid silver;
        border-radius: 5px;
    }

    &>div {

        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 100%;
        margin-top: 20px;

        div#header {
            display: flex;
            flex: 1 100%;

            span {
                flex: 1;
                padding: 10px;
            }
        }

        div#data {
            display: flex;
            flex: 1 100%;
            flex-wrap: wrap;

            span {
                flex: 1 40%;
                padding: 10px;
            }
        }

        div#log {
            @extend div#data;


            #factors {
                span {
                    flex: 1;
                }
            }

            h4 {
                display: flex;
                flex: 1 100%;

            }

            h5 {
                display: flex;
                flex: 1 100%;

                span {
                    display: inline;
                    margin-left: 10px;
                    ;
                    padding: initial;
                    font-weight: 600;
                    font-size: 16px;
                }

            }

            &>div#packsContainer {
                display: flex;
                flex: 1 100%;
                flex-wrap: wrap;

                &>.parentPacks {
                    display: flex;
                    flex: 1 100%;
                    flex-wrap: wrap;

                    &>span {
                        display: flex;
                        flex: 1 100%;
                        font-size: 16px;
                        font-weight: 600;
                        padding-left: 0;
                    }

                    &>.firstLevel {
                        display: flex;
                        flex: 1 100%;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-left: 20px;

                        &>span {
                            display: flex;
                            flex: 1 100%;
                        }

                        &>div {
                            display: flex;
                            // flex: 1;

                            &:first-of-type {
                                padding-left: 40px;
                            }

                            span {
                                display: inline;
                                padding: 20px 0;

                                &:first-child::after {
                                    content: 'x';
                                    padding: 0 3px;
                                    color: green;
                                    font-weight: 600;
                                    font-size: 12px;
                                }

                                &:last-child {
                                    margin-right: 20px;
                                }
                            }
                        }

                        .total {
                            display: flex;
                            flex: 1;
                            padding: 0 3px;
                            font-weight: bold;
                            color: indianred;

                            &::before {
                                content: 'total - ';
                                font-size: 12px;
                            }
						}
						.totalMultiplied {
							@extend .total;
						}
                    }
                }
            }

            &>div.finaldata {
                display: flex;
                flex: 1 100%;

                &>span {

                    &:first-child {
                        flex: 2;
                    }

                    &:nth-child(2) {
                        flex: 5;
                    }

                    &:last-child {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: 'total';
                            position: absolute;
                            font-size: 11px;
                            font-weight: bold;
                            color: green;
                            // left: 82%;
                            left: 50%;
                            top: 0%;
                            transform: translateX(-50%);
                        }

                    }

                    i {
                        &::after {
                            content: '\2192';
                            color: silver
                        }
                    }

                    p {
                        display: inline;
                        margin: 0px 5px;
                        font-weight: 500;

                        &.index {
                            position: relative;

                            &::after {
                                content: 'pack';
                                position: absolute;
                                font-size: 11px;
                                font-weight: bold;
                                color: green;
                                // left: 82%;
                                left: 0;
                                top: -70%;
                                // transform: translate(-50%, -50%);
                            }

                        }

                        &.value {
                            margin-right: 5px;
                            position: relative;

                            &::after {
                                content: 'qty';
                                position: absolute;
                                font-size: 11px;
                                font-weight: bold;
                                color: green;
                                // left: 82%;
                                right: 0;
                                top: -70%;
                                // transform: translate(-50%, -50%);

                            }
                        }
                    }

                }
            }
        }
    }
}